* {
  background-color: unset;
  color: #ddd;
}
.mediawiki {
  background-color: #242424;
}
#mw-panel {
  display: none;
}
div#toc {
  background-color: #242424;
}
div#content {
  border: none;
  max-width: 60%;
  background-color: #242424;
  margin: 0 auto;
}
html,
body,
div,
main,
section {
  background-color: #242424;
}
#left-navigation {
  display: none;
}
#p-search {
  border: none;
}
#p-search < form {
  width: 100%;
}
#mw-head {
  padding: 0;
}
#right-navigation {
  border: none;
  width: 100%;
}
body {
  background-color: #242424;
}

h1 {
  font-size: 2rem;
}
p {
  max-width: 50ch;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0 auto;
}

#firstHeading {
  color: #ddd;
}
div.vector-menu-content {
  display: none;
}
